/* General Layout */
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f6f9;
    display: flex;
    overflow-x: hidden;
}

/* Sidebar */
.sidebar {
    width: 250px;
    /* background-color: #fff; */
    padding: 15px;
    box-shadow: 2px 0 8px rgba(208, 208, 208, 0.1);
    height: 100vh;
    position: fixed;
    top: 0; /* Ensure it starts from the top */
    left: 0; /* Fixed position to the left */
    transform: translateX(0); /* Initial position */
    transition: transform 0.3s ease; 
    overflow-y: auto;
}
.sidebar-header {
    font-size: 24px;
    font-weight: bold;
    color: #3498db;
}
.sidebar-menu {
    list-style: none;
    padding: 0;
}
.sidebar-menu li {
    display: flex;
    align-items: center; /* Vertically align icon and text */
    margin-bottom: 5px;
}
.sidebar-menu li a {
    text-decoration: none;
    /* color: #333; */
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 10px; /* Add padding to menu items */
    border-radius: 8px; /* Rounded corners */
    /* transition: background-color 0.3s ease; Smooth transition */
}
.sidebar-menu li a:hover {
    /* background-color: #f0f0f0; Change background on hover */
    padding-left: 10px;
    border-radius: 5px;
}
.sidebar-menu li a.active {
    background-color: #3498db; /* Active background color */
    color: #fff; /*Active text color*/
    width: 100%;
}
.sidebar-menu li a .menu-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px; /* Space between icon and text */
    vertical-align: middle;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    /* filter: brightness(0) invert(1); */
}
.sidebar.hidden {
    transform: translateX(-100%); /* Move the sidebar out of view */
    transition: transform 0.3s ease; /* Smooth transition */
}

/* menu toggle */
.menu-section {
    margin-top: 10px;
    font-size: 14px;
    color: #999;
}
.menu-button {
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-right: 30px; /* Space between menu button and other elements */
    width: 24px; /* Icon size */
    height: 24px; /* Icon size */
    margin-left: 20px;
}

.menu-button svg {
    fill: #3498db; /* Change icon color */
    width: 100%; /* Scale to fit the container */
    height: 100%; /* Scale to fit the container */
}

/* Main Content */
.main-content {
    margin-left: 250px;
    padding-top: 20px;
    width: calc(100% - 250px);
    /* background-color: #ff0000; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: margin-left 0.3s ease, width 0.3s ease;
}
.main-content.hidden {
    margin-left: 0; /* Remove left margin when sidebar is hidden */
    width: 100%; /* Full width when sidebar is hidden */
}
.main-body {
    /* margin-left: 250px; */
    padding: 20px;
    width: 100%;
    background-color: rgb(38, 43, 48);
    box-sizing: border-box;
    border-radius: 10px;
}



/* Header Styles */
.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* background-color: white; */
    box-shadow: 2px 0 8px rgba(208, 208, 208, 0.1);
    margin-bottom: 20px;
    border-radius: 10px;
}

/* Search bar styling */
.search-bar input {
    padding: 8px;
    width: 500px;
    border-radius: 20px;
    border: 1px solid #ddd;
    /* background-color: #e6e5e5; */
    transition: margin-left 0.3s ease, width 0.3s ease;
}

/* Header options */
.header-options {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: 60px;
}

.header-options .notification-icon,
.header-options .flag-icon {
    margin-right: 20px;
    font-size: 1.2rem;
}

/* User avatar */
.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Dropdown styling */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 2px 0 8px rgba(208, 208, 208, 0.1);
    min-width: 160px;
    border-radius: 5px;
    z-index: 1;
    padding: 10px 0;
    text-align: left;
}

.dropdown-menu a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    display: block;
    transition: background-color 0.2s ease;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

/* Show dropdown when clicked */
.dropdown.show .dropdown-menu {
    display: block;
}

/* Dashboard Metrics */
.dashboard-metrics {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* gap: 20px; */
    gap: 20px; /* Add spacing between grid items */
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
    padding-bottom: 20px; 
}
.metric-card {
    background-color: rgb(33,37,41);
    padding: 5px;
    
    border-radius: 10px;
    box-shadow: 2px 0 8px rgba(208, 208, 208, 0.1);
    text-align: center;
    box-sizing: content-box;
}
.metric-info h4 {
    font-size: 16px;
    color: #a49d9d;
}
.metric-info p {
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.metric-change {
    margin-top: 10px;
    font-size: 14px;
}
.metric-icon {
    width: 300px; /* Adjust size as needed */
    height: 300px;
    margin-right: 10px; /* Space between icon and text */
    vertical-align: middle; /* Align icon with text */
    /* filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%); */
}

.chart-section {
    /* background-color: #2f2f2f; */
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  

  
  
  
  .chatbox {
    padding: 20px;
    /* background-color: #333; */
    border: 1px solid #444;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    max-height: 500px;
    color: #fff;
  }
  
  .message {
    margin-bottom: 10px;
  }
  
  .chat-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .profile-picture-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;
  }
  
  .bubble {
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 1.5;
    width: 50%;
  }
  
  .bubble.you {
    background-color: #8bc34a;
    margin-left: auto;
  }
  
  .bubble.you + .profile-picture-icon {
    order: 1;
  }
  
  .bubble:not(.you) {
    background-color: #66d9ef;
    margin-right: auto;
  }
  .bubble:not(.you) + .profile-picture-icon {
    order: 0;
  }
  
  .chat-container {
    flex-direction: row;
  }
  
  .chat-container .bubble.you {
    margin-right: 10px;
  }
  
  .message-text {
    word-wrap: break-word;
  }
  
  .input-container {
    padding: 20px;
    /* background-color: #333; */
    border: 1px solid #444;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
  }
  
  .input-container textarea {
    /* background-color: #333; */
    color: #fff;
    border: 1px solid #444;
  }
  
  .input-container button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .input-container button:hover {
    background-color: #3e8e41;
  }

  .conversation-container {
    display: flex;
    width: 750px;
    flex-direction: column;
    justify-content: space-between;
  }

  .conversation-and-input-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

    .grid-container {
    display: flex;
    flex-direction: row;
  }
  
  .user-list-container {
    /* background-color: #333; */
    width: 250px;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.user-list-container input[type="search"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    font-size: 16px;
    color: #fff;
}

.user-list-container input[type="search"]:focus {
    outline: none;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

#user-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#user-list li {
    padding: 10px;
    border-bottom: 1px solid #444;
    cursor: pointer;
}

#user-list li:last-child {
    border-bottom: none;
}

#user-list li a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}

#user-list li a span {
    font-size: 14px;
    color: inherit;
    margin-left: 10px;
}

#user-list li a span.non-zero {
    color: red;
}

#user-list li:hover {
    background-color: #444;
}

#user-list li:hover a {
    color: #66d9ef;
}

#user-list li:hover a span {
    color: #999;
}

#user-list li.active {
    background-color: #66d9ef;
    color: #333;
}

#user-list li.active a {
    color: #333;
}

#user-list li.active a span {
    color: #333;
}

